<h1> <%= @zodiac.creature.capitalize %> </h1>
<!-- show the title of the zodiac-->

<p> <%= @zodiac.fortune  %></p>

<!-- show the prediction for that zodiac need <%=  %> to make action and not just print text-->
